header {
    width: auto;
    height: 200px;
    /* background-size: 100%; */
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    font-size: 20px;
    margin-top: 1em;
}

input.fieldError {
    border-color: red !important;
    box-shadow: 0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
    width: 160px;
    display: block;
}