<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      th:src="@{/webjars/jquery/jquery.min.js}"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      th:src="@{/webjars/Semantic-UI/semantic.min.js}"
      src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
    ></script>
    <link
      th:href="@{/webjars/Semantic-UI/semantic.min.css}"
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
      type="text/css"
    />
    <link
      th:href="@{/resources/css/style.css}"
      rel="stylesheet"
      href="../static/resources/css/style.css"
      type="text/css"
    />
    <title th:text="#{catalog.title}">Document</title>
  </head>
  <body>
    <div class="ui container">
      <header>
        <h1 th:text="#{catalog.title}"></h1>
      </header>
      <nav th:include="navigation :: navigation"></nav>
      <div class="ui link cards" th:remove="all-but-first">
        <div class="ui card" th:each="watch : ${catalog}">
          <div class="content">
            <a
              class="header"
              th:href="@{/watch/{id}(id=${watch.id})}"
              th:text="${watch.name}"
            ></a>
          </div>
          <div class="image">
            <a th:href="@{/watch/{id}(id=${watch.id})}">
              <img
                class="thumbnail"
                th:scr="@{/resources/img/cover/{image}.jpg(image=${watch.image})}"
              />
            </a>
          </div>
          <div class="content">
            <div class="description" th:text="${{ watch.price }}"></div>
          </div>
          <div class="extra content" th:text="${{ watch.type }}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
