<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      th:src="@{/webjars/jquery/jquery.min.js}"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      th:src="@{/webjars/Semantic-UI/semantic.min.js}"
      src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
    ></script>
    <link
      th:href="@{/webjars/Semantic-UI/semantic.min.css}"
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
      type="text/css"
    />
    <link
      th:href="@{/resources/css/style.css}"
      rel="stylesheet"
      href="../static/resources/css/style.css"
      type="text/css"
    />

    <title th:text="#{home.title}">Document</title>
  </head>
  <body>
    <div class="ui container">
      <header>
        <h1 th:text="#{customers.title}">Kundenliste</h1>
      </header>
      <nav th:include="navigation :: navigation"></nav>

      <table class="ui celled table">
        <thead>
          <tr>
            <th th:text="#{customers.name}">Name</th>
            <th th:text="#{customers.address}">Anschrift</th>
            <th th:text="#{customers.password}"></th>
          </tr>
        </thead>
        <tbody th:remove="all-but-first">
          <tr th:each=" customer : ${customerList}">
            <td th:text="${customer.userAccount.id}">Paul</td>
            <td th:text="${customer.address}">Nöthnitzer Straße 46</td>
            <td th:text="${customer.userAccount.password}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
