<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      th:src="@{/webjars/jquery/jquery.min.js}"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      th:src="@{/webjars/Semantic-UI/semantic.min.js}"
      src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
    ></script>
    <link
      th:href="@{/webjars/Semantic-UI/semantic.min.css}"
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
      type="text/css"
    />
    <link
      th:href="@{/resources/css/style.css}"
      rel="stylesheet"
      href="../static/resources/css/style.css"
      type="text/css"
    />
    <title th:text="#{home.title}">Document</title>
  </head>
  <body>
    <div class="ui container">
      <header>
        <h1 th:text="#{home.title}"></h1>
      </header>
      <nav th:include="navigation :: navigation"></nav>
      <form th:action="@{/login}" class="ui form" role="form" method="POST">
        <div class="field">
          <label for="username" th:text="#{login.username}"></label>
          <input type="text" id="username" name="username" autofocus /><br />
        </div>
        <div>
          <label for="password" th:text="#{login.password}"></label>
          <input type="password" id="password" name="password" /><br />
        </div>
        <br />
        <button
          type="submit"
          th:text="#{login.login}"
          class="ui button"
        ></button>
      </form>
    </div>
  </body>
</html>
