<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script
      th:src="@{/webjars/jquery/jquery.min.js}"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      th:src="@{/webjars/Semantic-UI/semantic.min.js}"
      src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
    ></script>
    <link
      th:href="@{/webjars/Semantic-UI/semantic.min.css}"
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
      type="text/css"
    />
    <link
      th:href="@{/resources/css/style.css}"
      rel="stylesheet"
      href="../static/resources/css/style.css"
      type="text/css"
    />
  </head>
  <body>
    <nav th:fragment="navigation">
      <div class="ui menu">
        <a
          class="item"
          href="register.html"
          th:href="@{/register}"
          sec:authorize="!hasAnyAuthority('ADMIN','CUSTOMER')"
          th:text="#{nav.register}"
          >Register</a
        >
        <a
          class="item"
          href="orders.html"
          th:href="@{/orders}"
          sec:authorize="hasAuthority('ADMIN')"
          th:text="#{nav.orders}"
          >Orders</a
        >
        <a
          class="item"
          href="stock.html"
          th:href="@{/stock}"
          sec:authorize="hasAuthority('ADMIN')"
          th:text="#{nav.stock}"
          >Stock</a
        >
        <a
          class="item"
          href="customers.html"
          th:href="@{/customers}"
          sec:authorize="hasAuthority('ADMIN')"
          th:text="#{nav.customers}"
          >Customers</a
        >
        <a
          class="item"
          href="catalog.html"
          th:href="@{/catalog}"
          th:text="#{nav.catalog}"
          >Catalog</a
        >
        <a
          class="item"
          href="cart.html"
          th:href="@{/cart}"
          th:text="#{nav.cart}"
          >Cart</a
        >
        <div class="right menu">
          <a
            class="item"
            href="login.html"
            th:href="@{/login}"
            sec:authorize="!isAuthenticated()"
            th:text="#{nav.login}"
            >Login</a
          >
          <form
            class="item"
            th:action="@{/logout}"
            sec:authorize="isAuthenticated()"
            method="POST"
          >
            <button type="submit" class="ui button" th:text="#{nav.logout}">
              Logout
            </button>
          </form>
        </div>
      </div>
      <br />
    </nav>
  </body>
</html>
