<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      th:src="@{/webjars/jquery/jquery.min.js}"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      th:src="@{/webjars/Semantic-UI/semantic.min.js}"
      src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
    ></script>
    <link
      th:href="@{/webjars/Semantic-UI/semantic.min.css}"
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
      type="text/css"
    />
    <link
      th:href="@{/resources/css/style.css}"
      rel="stylesheet"
      href="../static/resources/css/style.css"
      type="text/css"
    />

    <title th:text="#{register.title}">Document</title>
  </head>
  <body>
    <div class="ui container">
      <header>
        <h1 th:text="#{register.title}"></h1>
      </header>
      <nav th:include="navigation :: navigation"></nav>
      <form
        th:action="@{/register}"
        method="POST"
        role="form"
        class="ui form"
        id="registrationForm"
        th:object="${registrationForm}"
      >
        <h3 class="ui dividing header" th:text="#{register.userdata}"></h3>
        <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
          <p>Thông tin không đúng.</p>
        </div>
        <div class="field">
          <label for="username" th:text="#{register.username}"></label>
          <input
            type="text"
            name="username"
            id="username"
            th:field="*{username}"
            th:errorclass="fieldError"
            required
          /><br />
          <div
            class="ui negative message"
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{name}"
          >
            <p>Tên không thể để trống.</p>
          </div>
        </div>
        <div class="field">
          <label th:text="#{register.password}" for="password"></label>
          <input
            id="password"
            name="password"
            th:field="*{password}"
            th:errorclass="fieldError"
            type="password"
            required="required"
          /><br />
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Mật khẩu không thể để trống.
          </p>
        </div>
        <div class="field">
          <label th:text="#{register.address}" for="address"></label>
          <input
            id="address"
            name="address"
            th:field="*{address}"
            th:errorclass="fieldError"
            type="text"
            required="required"
          /><br />
          <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
            Địa chỉ không thể để trống.
          </p>
        </div>

        <button
          type="submit"
          class="ui button"
          th:text="#{register.submit}"
        ></button>
      </form>
    </div>
  </body>
</html>
